body {
  margin-top: 0;
  background-color: rgb(161, 155, 155);
}

/* .product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.product-card {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
}
.product-image {
  max-height: 100px;
  width: 100%;
  object-fit: cover;
  object-position: top;
} */

.invalid-feedback {
  background-color: rgb(173, 125, 125);
  width: 200px;
  height: auto;
  border-radius: 15px;
  margin-top: 10px;
}

.container {
  text-align: center;
  display: block;
  background-color: white;
  height: auto;
  width: auto;
  max-width: 500px;
  border-radius: 15px;
  margin: auto;
}

.jumbotron {
  text-align: center;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}
.text-center {
  padding-top: 10px;
}
